# use for local Stripe tests
# stripe listen --forward-to localhost:8080/api/stripe/webhook
# whsec_... will be returned, add it to STRIPE_WEBHOOK_CONNECTED_ACCOUNTS_SECRET_DEV=whsec_...
# env variables have precedence over secrete manager
STRIPE_WEBHOOK_CONNECTED_ACCOUNTS_SECRET_DEV=whsec_3***U
STRIPE_WEBHOOK_YOUR_ACCOUNT_SECRET_DEV=whsec_6***W