node_modules
coverage
/front/build/
/back/build/
.deps-entry.js
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests/setup/authenticated_user.json
.eslintcache
.prettiercache
tsconfig.tsbuildinfo
.tsbuildinfo-back
.tsbuildinfo-front
.DS_Store
terraform.tfvars
.env
.env.*
!.env.example
back/*-service-account*.json
back/quotationapp-*.json
