logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
coverage
dist
build
build_client
dist-ssr
*.local
.env
.DS_Store

server/db/dbCredentials.png
quotationapp-8014c-04cff2d88d5b.json