dist
build
node_modules
gha-creds-*.json
.terraform
coverage
*.min.js
*.min.css
*.tfstate
*.tfstate.backup
package-lock.json
pnpm-lock.yaml
bun.lockb
.next
.cache

fontAwesome.css
froalaPkg.css
froalaPkg.js

drizzle/