html {
  overflow-y: scroll;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 12%);
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(0 0 0 / 20%);
}

html::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 5%);
}

html:after {
  content: 'Q';
  font-family: system-ui, sans-serif;
  position: fixed;
  color: #ddd;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 30vh;
  z-index: -1000;
}

body {
  background-color: #e9e9e9;
  color: rgba(0, 0, 0, 0.87);
  font-family: system-ui, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.00938em;
  height: 100dvh;
}

button {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px;
}

/* css reset in 2022 */
/* https://elad2412.github.io/the-new-css-reset/ */

/* *:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
} */

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: pointer;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  padding-left: 25px;
  list-style-type: inherit;
}

ol ol,
ul ul {
  padding-left: 25px;
  list-style-type: inherit;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

a {
  color: #0083bf;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.09em;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  user-select: auto;
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

.seo {
  padding: 10px;
  position: relative;
  top: 10000px;
  color: grey;
}

.seo h1 {
  margin: 30px;
  text-align: center;
  font-weight: 400;
}

.seo h2 {
  margin: 20px;
  text-align: center;
  font-weight: 300;
}

.wait-for-init-files-to-load {
  position: fixed;
  text-align: center;
  color: grey;
  font-weight: 600;
  width: 100%;
  top: 30%;
  color: #848484;
  font-size: 24px;
}
