/* https://www.ag-grid.com/react-data-grid/global-style-customisation-variables/ */
.ag-theme-alpine {
  --ag-row-hover-color: #8080800a;
  --ag-odd-row-background-color: transparent;
  --ag-font-family: inherit;
}

.ag-root-wrapper {
  border: none;
  cursor: inherit;
}

.ag-header-cell.ag-floating-filter {
  border-top: none !important;
}

.ag-header {
  background: transparent;
  border-bottom: transparent;
}

.ag-header-cell-resize::after {
  background-color: #e8e8e8;
}

.ag-header-cell-label {
  justify-content: center;
}

.ag-cell {
  display: flex;
  align-items: center;
  line-height: 20px;
}

.ag-cell-value {
  padding: 15px 0px;
}

.ag-pinned-left-header {
  border-right: 1px dotted #dadada;
}

.ag-cell-last-left-pinned:not(.ag-cell-focus) {
  border-right: 1px dotted #dadada !important;
}

.ag-root input:disabled {
  background: transparent !important;
  border: 1px solid #babfc7 !important;
}

.ag-cell-inline-editing, .ag-cell-inline-editing * {
  height: 100% !important;
}
